
<div>
  <h2>Choose your starting path</h2>
  <p>Welcome to the Adventure Game! There's a path ahead of you that will test your will, cunning and  ingenuity. Each decision you make will affect your journey through Downtown Seattle.</p>
</div>
<div class="path d-flex flex-row justify-content-center">
  <div class="mr-5">
    <a><img src="https://media1.fdncms.com/stranger/imager/u/original/26178774/pioneer_square_progressive_dinner.jpg" alt="Pioneer Square Image"></a>
    <h3>Pioneer Square</h3>
  </div>
  <div>
    <a routerLink="pikeplace"><img src="https://cdn.vox-cdn.com/thumbor/UpFroF2hRhfuyWsnG4iHC-jhOy0=/500x0:3500x2250/1200x900/filters:focal(500x0:3500x2250)/cdn.vox-cdn.com/uploads/chorus_image/image/47552879/Pike_Place_Market_Entrance.0.0.jpg" alt="Image of pike place market"></a>
    <h3>Pike Place Market</h3>
  </div>
</div>