<div class="path d-flex flex-row justify-content-center">
  <div class="mr-5">
    <a routerLink="/postalley"><img src="https://activerain.com/image_store/uploads/9/2/1/9/3/ar129721100139129.JPG" alt="Post Alley Image"></a>
    <h3>Post Alley</h3>
  </div>
  <div>
    <a routerLink="/market"><img src="https://afar-production.imgix.net/uploads/images/post_images/images/JfvapBQfhn/original_PikesPlaceIBR-1717818MichaelWeber.age.jpg?1502411829?ixlib=rails-0.3.0&auto=format%2Ccompress&crop=entropy&fit=crop&h=719&q=80&w=954" alt="image of a seafood stand"></a>
    <h3>Go to the Market</h3>
  </div>
</div>
